:root {
  --primary: #6c63ff;
  --secondary: #8b5cf6;
  --accent: #00d4ff;

  --dark: #0f172a;
  --dark-card: #1e293b;

  --light: #ffffff;
  --light-bg: #f8fafc;

  --success: #10b981;

  --transition: 0.4s ease;
}
