/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* VARIABLES */
:root {
  --primary: #6c63ff;
  --secondary: #4f46e5;
  --background: #ffffff;
  --text: #111827;
  --card: #f3f4f6;
}

body.dark {
  --primary: #ff6b6b;
  --secondary: #ee5253;
  --background: #111827;
  --text: #ffffff;
  --card: #1f2937;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: 100%;

    width: 300px;
    height: 100vh;

    background: var(--card);

    flex-direction: column;
    padding: 40px;
    transition: 400ms;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }
}
