/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* VARIABLES */
:root {
  --primary: #6c63ff;
  --secondary: #4f46e5;
  --background: #ffffff;
  --text: #111827;
  --card: #f3f4f6;
  --foreground: #333;

  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body.dark {
  --primary: #ff6b6b;
  --secondary: #ee5253;
  --background: #111827;
  --text: #ffffff;
  --card: #1f2937;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: 100%;

    width: 300px;
    height: 100vh;

    background: var(--card);

    flex-direction: column;
    padding: 40px;
    transition: 400ms;
  }

  .nav-links.active {
    right: 0;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.4141356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 20000;
    cursor: pointer;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;

    transition:
      opacity var(--animation-timing),
      width var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
}
